<div class="card mb-3">
  <h2 class="card-header h4">
    Interaction #<%= interaction.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sender</dt>
      <dd>
        <% if @interaction.sender.present? %>
          <%= link_to interaction.sender, interaction.sender %>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd>
        <% if @interaction.recipient.present? %>
          <%= link_to interaction.recipient, interaction.recipient %>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= interaction.body %></dd>

      <dt>Room</dt>
      <dd>
        <% if @interaction.room.present? %>
          <%= link_to interaction.room, interaction.room %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back interaction, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_interaction_url(interaction), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to interaction, method: :delete, data: { confirm: "Do you really want to delete this interaction?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(interaction.updated_at) %> ago
  </div>
</div>
