<div class="card mb-3">
  <h2 class="card-header h4">
    Stay #<%= stay.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Guest</dt>
      <dd>
        <% if @stay.guest.present? %>
          <%= link_to stay.guest, stay.guest %>
        <% end %>
      </dd>

      <dt>Room</dt>
      <dd>
        <% if @stay.room.present? %>
          <%= link_to stay.room, stay.room %>
        <% end %>
      </dd>

      <dt>Check in</dt>
      <dd><%= stay.check_in %></dd>

      <dt>Check out</dt>
      <dd><%= stay.check_out %></dd>

      <dt>Approved</dt>
      <dd><%= stay.approved %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back stay, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_stay_url(stay), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to stay, method: :delete, data: { confirm: "Do you really want to delete this stay?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(stay.updated_at) %> ago
  </div>
</div>
